<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome to the Home page!</title>
</head>

<body>
  <h1>This is the Homepage</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium ab nemo, perferendis dolorum officiis laborum
    nesciunt tenetur in eveniet quod voluptates aliquam nostrum cumque fuga quasi explicabo rem culpa assumenda.</p>

  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis, autem vitae modi ipsam aliquam mollitia magni
    omnis deleniti voluptatum blanditiis atque, perferendis quasi fugiat veritatis? Quae ex placeat natus delectus.</p>
</body>

</html>