<%- include('partials/head.ejs') %> <%- include('partials/navbar.ejs') %>

    <div class="container d-flex flex-wrap">
      <% data.data.forEach(v => { %>

      <img src="<%= v.url %>" width="400" height="400" />

      <% }) %> <%- include('partials/footer.ejs') %>
    </div>
  </body>
</html>
