<%- include('partials/head.ejs') %> <%- include('partials/navbar.ejs') %>
<h1>Welcome Home</h1>

<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro reiciendis
  officia debitis quasi ducimus fugiat unde pariatur similique, laudantium
  voluptas, reprehenderit ea, aliquam tenetur praesentium placeat? Nisi
  temporibus vero error.
</p>

<%- include('partials/footer.ejs') %>
